%h1= model.new_record? ? t('new_stylesheet') : t('edit_stylesheet')
- form_for [:admin, model], :url => (model.new_record? ? admin_styles_url() : admin_style_url(model)) do |f|
  %p.title
    = label :sheet_page, :slug, 'Slug'
    = f.text_field :slug, :class => 'textbox', :maxlength => 255, :id => "sheet_page_slug"
    %span.hint= %{Path: #{@root.url}<span id="this_slug">#{model.slug}</span>}
  - f.fields_for :parts do |p|
    %p.content
      = p.label :content, 'Body'
      = p.hidden_field :name, :value => 'body' if model.new_record?
      = p.text_area :content, :class => 'textarea large', :style => 'width: 100%'
    %p
      - if SheetsExtension.stylesheet_filters.blank?
        = p.hidden_field :filter_id, :value => ''
      - else
        = p.label :filter_id, t('filter'), :for => 'sheet_filter_id'
        = p.select :filter_id, stylesheet_filter_options_for_select(p.object.filter_id), {}, :id => 'sheet_filter_id'
      %span.reference_links
        = t('reference')
        - unless SheetsExtension.stylesheet_filters.blank?
          %span{:id => "filter_reference_link_body"}
            = link_to_function t('filter'), "loadFilterReference();"
        %span{:id => "tag_reference_link_body"}
          = link_to_function t('available_tags'), "loadTagReference('body');"
  %p.buttons{:style=>"clear: left"}
    = save_model_button(model)
    = save_model_and_continue_editing_button(model)
    = t('or')
    = link_to t('cancel'), admin_styles_url
= render 'admin/sheets/edit_scripts'