= render 'admin/sheets/upload_script'
.outset
  %table.index
    %thead
      %tr
        %th Stylesheet
        %th Modify
    %tbody
      - unless models.blank?
        - models.each do |stylesheet|
          %tr
            %td.name
              = image('stylesheet') 
              = link_to stylesheet.title, edit_admin_style_path(stylesheet)
            %td.actions= link_to(image('minus') + ' ' + t('remove'), admin_style_url(stylesheet), :class => "action", :method => :delete, :confirm => "Is it OK to delete #{stylesheet.slug}?")
      - else
        %tr
          %td.empty{:colspan => 2} There are no stylesheets

#actions
  = pagination_for(models)
  %ul
    %li= link_to image('plus') + " " + t("new_stylesheet"), new_admin_style_path
    %li
      = link_to t("upload"), '#uploader', :class => 'replace'
      #uploader
        - form_for :upload, :url => upload_admin_styles_path, :html => { :class => 'button_form', :multipart => true } do |f|
          %span
            = f.label :upload, image('upload') + ' ' + t('upload')
            = f.file_field :upload 
            = f.submit  t('create_stylesheet')