= render 'admin/sheets/upload_script'
.outset
  %table.index
    %thead
      %tr
        %th= t('stylesheet_page')
        %th= t('filter')
        %th= t('modify')
    %tbody
      - unless models.blank?
        - models.each do |stylesheet|
          %tr
            %td.name
              = link_to image('stylesheet') + ' ' + stylesheet.title, edit_admin_style_path(stylesheet)
            %td.filter= stylesheet.part('body').filter.filter_name
            %td.actions= link_to(image('minus') + ' ' + t('remove'), admin_style_url(stylesheet), :class => "action", :method => :delete, :confirm => "Is it OK to delete #{stylesheet.slug}?")
      - else
        %tr
          %td.empty{:colspan => 3}= t('no_styles')

#actions
  = pagination_for(models)
  %ul
    %li= link_to image('plus') + " " + t("new_stylesheet"), new_admin_style_path, :class => 'action_button'
    %li
      = link_to image('upload') + ' ' + t("upload"), '#uploader', :class => 'replace action_button'
      #uploader.action_button
        - form_for :upload, :url => upload_admin_styles_path, :html => { :class => 'button_form', :multipart => true } do |f|
          %span
            = f.label :upload, image('upload') + ' ' + t('upload')
            = f.file_field :upload 
            = f.submit  t('create_stylesheet')
